.count-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-container a{
    text-decoration: none;
    
}
.button-count{
    height: 100%;
    width: 4rem;
    
}
.button-count-add{
    background-color: green;
    font-size: 1.8rem;
}
.button-count-subtract{
    background-color: rgb(255, 47, 47);
    font-size: 1.8rem;
}